$b1: 480px;
$b2: 760px;
$b3: 1024px;

$page-width: 1400px;
$page-padding: 20px;
$lato: 'Lato', sans-serif;

$color-blue: #0000eb;
$color-strong-text-gray: #0d0000;
$color-normal-text-gray: #434549;
$color-fade-text-gray: #7a7d81;
