@import '../../constants.scss';
.HowBotsWork {
  margin-top: 60px;
  margin-bottom: 60px;
}
.HowBotsWork-title {
  text-align: center;
  margin-bottom: 40px;
}
.HowBotsWork-step {
  color: black;
  position: relative;
}

.HowBotsWork-step--active {
}

.HowBotsWork-step-number {
  display: none;
}

.HowBotsWork-step-content {
  transition: opacity 0.5s;
  opacity: 0;
}

.HowBotsWork-step-text {
  position: absolute;
  left: 50%;
  top: 100%;
  margin-top: 20px;
  font-size: 14px;
  transform: translate3d(-50%, 0px, 0px);
  white-space: nowrap;
}

.HowBotsWork-step-list {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-flow: column;
}

@media (min-width: $b2) {
  .HowBotsWork-step-content {
    display: none;
  }
  .HowBotsWork-step--active .HowBotsWork-step-text {
    color: $color-blue;
  }
  .HowBotsWork-step--active .HowBotsWork-step-content {
    display: block;
    opacity: 1;
  }
  .HowBotsWork-step-list {
    flex-flow: row;
    position: relative;
    margin: 0 auto;
    max-width: 900px;
  }

  .HowBotsWork-step-list::after {
    top: 50%;
    left: 0px;
    right: 0px;
    content: '';
    display: block;
    position: absolute;
    border: 1px dashed rgba(99, 114, 130, 0.32);
    z-index: -1;
  }

  .HowBotsWork-step-number {
    cursor: pointer;
    height: 48px;
    width: 48px;
    font-size: 16px;
    background: white;
    border-radius: 50%;
    border: 1px solid rgba(99, 114, 130, 0.32);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .HowBotsWork-step--active .HowBotsWork-step-number {
    color: white;
    background-color: #0000eb;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 235, 0.32);
  }
}
